.item-card_favicon {
    
    max-width: 150px;
    background-color: rgb(212, 241, 247);
    border-radius: 5px;
    border: none;
    margin: 20px 15px;
    cursor: pointer;


}
.item-card_favicon:hover{
    transform: scale(1.4);
    
}

.item-card_favicon.favorite{
    background-color: rgb(98, 197, 255);
    border-radius: 20px;
}
